integrations:
  - name: nri-prometheus
    config:
      standalone: false
      emitters: infra-sdk
      cluster_name: "nomad_prometheus"
      targets:
        - description: nomad cluster
          urls: ["http://172.31.32.217:4646/v1/metrics?format=prometheus"]
      verbose: false
      scrape_duration: "5s"
      insecure_skip_verify: false
    timeout: 10s
